*{
  margin: 0px;
  padding: 0px;
}
body{
  background-color: #FEFAE0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.passwordBox{
  width: 360px;
  background-color: #606C38;
  padding: 20px;
}
.passwordBox h2{
  color: #FEFAE0;
  text-align: center;
}
.passwordBoxin{
  padding-top: 10px;
  display: flex;
  gap: 5px;
}
.passwordBoxin input{
  flex-basis: 80%;
  padding: 5px;
}
.passwordBoxin button{
  flex-basis: 20%;
  padding: 10px 0px;
  font-weight: 600;
  background-color: #DDA15E;
}

.passLength{
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.passLength label{
  color: #FEFAE0;
  font-weight: 500;
}
.passLength input{
  width: 56px;
  padding: 7px 5px;
}
.btn{
  width: 100%;
  padding: 10px 0px;
  margin: auto;
  background-color: #e3832f;
  font-weight: 600;
  cursor: pointer;
}